@font-face {
    font-family: "badunicorn";
    src: url(../fonts/badunicorn/badunicorndemoregular-bvwx-webfont.woff);
}

@font-face {
    font-family: "bunch";
    src: url(../fonts/bunch/bunchblossomspersonaluse-0na4-webfont.woff);
}

@font-face {
    font-family: "caviar";
    src: url(../fonts/UTMCaviar.woff);
}

@font-face {
    font-family: 'FAMILY_NAME';
    src: url(FONT_FILE_NAME.woff2) format('woff2');
}

@font-face {
    font-family: "pangolin";
    src: url(../fonts/pangolin/Pangolin-Regular.woff2) format(woff2);
}

html {
    scroll-behavior: smooth;
}

:root {
    /* --mainColor: #b77ec7;*/
    --mainColor: #a1bde4;
    /*--mainColor: #cf8cd5;*/
    /* --secondColor: #f5f5f5;*/
    --secondColor: white;
    --mainColor2: #ef476f;
    --black: #000000;
    --bg: url(../imgs/prpl-bg.jpg);
    --shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.2), 0 8px 8px rgba(0, 0, 0, 0.2);
    /*--stroke: 3px solid var(--black);*/
}

* {
    box-sizing: border-box;
}

*::selection {
    background-color: var(--mainColor);
    color: #ffffff;
    background-color: var(--mainColor);
}

a {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    color: var(--mainColor);
}

/*
font-family: 'Delius Swash Caps', cursive;
font-family: 'Pangolin', cursive;
*/
body {
    font-family: 'Pangolin', pangolin;
    text-transform: capitalize;
    background-color: var(--secondColor);
    color: (var(--black));
    padding-right: 2vw;
    padding-left: 2vw;
}

#arabic {
    display: none !important;

}


/*--------------------------- DESKTOP --------------------------------------- */
/*@media only screen and (min-width: 1100px)*/
@media only screen and (min-width: 1081px) {




    .scroll {
        position: fixed;
        /*left: calc(50vw - 115px);*/
        top: 0;
        left: 2vw;
        width: 15vw;
        text-align: center;
        padding: .6vw;
        background: #fff;
        box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        z-index: 9999999;
    }

    .scroll.link {
        margin: 3vw;
        padding: 2vw;
        color: white;
    }

    .bg-red {

        margin-right: .5vw;
    }

    .bg-blue {

        margin-right: .5vw;
    }

    .language {
        position: fixed;
        /*left: calc(50vw - 115px);*/
        top: 0;
        right: 2vw;
        width: 7vw;
        text-align: center;
        padding: .6vw;
        background: #fff;
        box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        z-index: 9999999;
    }

    .language>.link {

        padding-right: 2vw;
        margin-left: .3vw;
        margin-right: .3vw;
        cursor: pointer;
    }

    #ar {

        background-color: #DDA0DD;
        border-radius: 100vw;
    }

    #en {


        background-color: #a1bde4;
        border-radius: 100vw;
    }







    .portraits-content .top-frame {
        position: absolute;
        background-image: var(--bg);
        background-blend-mode: screen;
        width: 100%;
        height: 12vw;
        top: 0vw;
        left: 0vw;
        z-index: -10;
    }

    .top-frame {
        position: absolute;
        /*position: fixed;
        خليها ابسليوت لو عايزة ترجعي كل حاجة مش فيكسد*/
        background-image: var(--bg);
        background-blend-mode: screen;
        background-color: var(--mainColor);
        width: 100%;
        height: 12vw;
        top: 0vw;
        left: 0vw;
        z-index: -10;
        box-shadow: var(--shadow);
        z-index: -3;

    }

    .header-icons {
        /*احدذفيه لو عايزة ترجعي الايكونز الكونتاكت*/
        display: none;
    }

    /*.home-content {
        /*احدفيه لو عايزة مش فيكسد*
        position: fixed;
        top: 0;
        z-index: 9999999;
    }*/


    .page-title {
        text-decoration: none;
        position: absolute;
        width: 43vw;
        /*width: 40vw;*/
        /*رجعيها فيت كونتنت*/
        top: -2vw;
        left: 35.3vw;
        font-size: 5.2vw;
        z-index: 20;
        color: var(--black);
        transition-timing-function: ease-in;
        animation-name: up-and-down-title;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-out;

    }


    /*@keyframes up-and-down-title {

        to {
            transform: translateY(3px)
        }
    }*/



    .page-title:hover {
        font-size: 5.7vw;
        left: 33.5vw;
        top: -3vw;
    }



    .page-dsc {
        position: absolute;
        width: 45vw;
        top: 7vw;
        left: 36.3vw;
        font-size: 1.9vw;
        color: var(--black);
    }

    .header-text {
        position: relative;
        width: fit-content;
        top: .5vw;
    }

    .circle-frame {
        position: absolute;
        top: 4.3vw;
        left: 14vw;
        display: inline-block;
        width: 14vw;
        height: 14vw;
        background-image: var(--bg);
        background-blend-mode: screen;
        background-color: var(--mainColor);
        z-index: 10;
        border-radius: 250px;
        box-shadow: var(--shadow);
    }


    .circle {
        position: absolute;
        background-color: var(--secondColor);
        top: 5.2vw;
        left: 14.75vw;
        display: inline-block;
        width: 12.4vw;
        height: 12.4vw;
        z-index: 20;
        border-radius: 250px;
        box-shadow: var(--shadow);
    }

    .header-logo {
        position: absolute;
        display: inline-block;
        width: 10.72vw;
        z-index: 1000;
        top: 7.8vw;
        left: 15.7vw;
        transition-timing-function: ease;
    }

    .header-logo:hover {
        width: 11.2vw;
        top: 7.7vw;
        left: 15.4vw;
    }

    .circular-logo {
        position: absolute;
        top: -4vw;
        left: 6vw;
    }



    .instagram,
    .linkedin,
    .behance {
        position: absolute;
        width: 3vw;
        display: inline-block;
        right: 1vw;
        top: 1vw;
    }

    .instagram {
        position: absolute;
        right: 5vw;
        width: 2.2vw;
        top: .8vw;
    }

    .instagram:hover {
        width: 2.8vw;

    }

    .behance {
        position: absolute;
        right: 9vw;
        width: 2.6vw;
    }

    .behance:hover {
        width: 3.3vw;
    }


    .linkedin {
        position: absolute;
        width: 2vw;
        top: .7vw;
    }

    .linkedin:hover {
        width: 2.7vw;
    }




    .flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: absolute;
        top: 15vw;
        font-size: 2.5vw;
        color: var(--black);
        text-decoration: none;
        list-style: none;
        margin: auto;
        text-align: center;

    }

    ul.flex {
        padding: 2vw;
    }

    .flex>li {
        text-decoration: none;
        display: flex;
        width: 20vw;
        flex-wrap: wrap;
        justify-content: center;
        color: var(--black);
        margin: 2vw;
    }

    .flex>li>a {

        width: 22vw;

    }


    .flex>li>.box {
        position: relative;
        width: 11vw;
        height: 11vw;
        border-radius: 100vw;
        background-color: var(--mainColor);
        background-image: var(--bg);
        background-blend-mode: screen;
        margin-bottom: 1vw;
        background-position: center;
        transition-duration: .5s;
        transition-timing-function: ease;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.20);
        box-shadow: var(--shadow);
    }

    .flex>li>.box>a>img {
        width: 11vw;
        /*box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .5);*/
        transition-duration: .5s;
        transition-timing-function: ease;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    /*
    @keyframes right-and-left {

        to {
            transform: translateX(2px);
            transform: translateY(2px)
        }
    }*/

    .flex>li>.box>a>img:hover {
        width: 14vw;
    }

    .flex>li>.box:hover {
        width: 14vw;
        height: 14vw;
    }






    /*--------------------------- ABOUT ----------------------------*/

    .about-flex {
        display: none;
    }

    .about {
        text-transform: none;
        position: absolute;
        display: flex;
        background-color: var(--mainColor);
        background-image: var(--bg);

        background-blend-mode: screen;
        top: 59vw;
        height: fit-content;
        left: 0vw;
        padding: 5vw 11vw 5vw 11vw;
        font-size: 2vw;
        box-shadow: var(--shadow);
    }

    .about>.salaka>img {
        width: 30vw;
        padding-right: 3vw;
        animation-name: up-and-down;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in;
    }


    @keyframes up-and-down {

        to {
            transform: translateY(15px);
        }
    }





    /*--------------------------- ARTOPIA ----------------------------*/

    .about-artopia-flex {
        display: none;
    }

    .about-artopia {
        text-transform: none;
        position: absolute;
        display: flex;
        background-color: var(--secondColor);
        top: 100vw;
        height: fit-content;
        left: 0vw;
        padding: 5vw 11vw 5vw 11vw;
        font-size: 2vw;
    }

    .about-artopia>.artopia>img {
        position: relative;
        top: -3vw;
        width: 30vw;
        padding-left: 3vw;
        animation-name: up-and-down;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in;
    }

    .about-artopia>.text>a,
    .about-artopia>.text>b {
        text-decoration: underline;
        text-align: center;

    }

    .about-artopia>.text>b {
        position: relative;
        top: .2vw;
        text-decoration: none !important;
        font-weight: lighter !important;
        padding: 0vw .8vw 0vw .8vw;
        background: var(--secondColor);
        box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        z-index: 9999999;
    }


    @keyframes up-and-down {

        to {
            transform: translateY(-15px)
        }
    }




    /*>>>>>>>>>>>>>>>>>>>>>>>> CONTACT <<<<<<<<<<<<<<<<<*/

    .contact-mobile {
        display: none;
    }

    .contact {
        text-transform: none;
        position: absolute;
        display: flex;
        background-color: var(--mainColor);
        background-image: var(--bg);

        background-blend-mode: screen;
        top: 130vw;
        height: fit-content;
        left: 0vw;
        padding: 2vw 11vw 0vw 11vw;
        bottom: 0vw;
        font-size: 2vw;
        box-shadow: var(--shadow);
        z-index: 100000;
        width: 100%;
    }




    .contact>.text {
        margin-top: 9.7vw;
        transform: scale(1.3);
        margin-left: 2vw;
    }



    .contact>.text img {
        width: 16vw;
        margin: auto;
        margin-right: 2vw;
        margin-top: .5vw;
        transition: .5s;

    }

    .contact>.text img:hover {

        transform: scale(1.1);

        opacity: 60%;
    }

    .contact>.contact-items>img {
        position: relative;
        top: .6vw;
        width: 34vw;
        bottom: 0vw;
        padding-right: 3vw;
        margin-bottom: 0vw;
        margin-right: 2vw;
        animation-name: contact;
        animation-duration: 1.1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;

    }

    @keyframes contact {

        to {
            transform: translatex(-18px);
        }
    }



    /*>>>>>>>>>>>>>>>>>>>>>>>>portraits<<<<<<<<<<<<<<<<<*/

    .portraits-nav {
        display: inline-block;
        position: absolute;
        width: 100%;
        height: fit-content;
        top: 14vw;
        left: -0.5vw;
        z-index: 10000;

    }

    .portraits-nav>ul {
        display: flex;
        justify-content: center;
    }

    .portraits-nav>ul>li {

        position: relative;
        display: inline-block;
        font-size: 1.5vw;
        padding-right: 1vw;
        padding-left: 1vw;
        color: var(--black);
        background-image: var(--bg);
        background-color: var(--mainColor);
        background-blend-mode: screen;
        width: fit-content;
        border-radius: 10px;
        text-align: center;
        margin-left: 1vw;
    }

    .portraits-nav>ul>.por-nav>a {
        color: var(--secondColor);
    }

    .portraits-nav>ul>li>a:hover {
        color: var(--secondColor);
    }

    .portraits-page>.gallery {
        margin-top: 2vw;
        position: absolute;
        top: 31vw;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        width: 95vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
        column-gap: 10px;
        row-gap: 10px;
    }

    .portraits-page>.gallery>div>img {
        width: 100%;
        margin: 1vw 1vw 1vw 1vw;
        padding: 0;
        object-fit: cover;
        object-position: center;
        overflow-x: hidden;
        border-radius: 5px;
        transition: .9s;
    }

    .portraits-page>.gallery>div {
        transition: 1s;
    }

    .portraits-page>.gallery>div:hover {
        transform: scale(1.3);
        z-index: 100;
    }


    .por-info {
        display: inline-block;
        position: absolute;
        width: 100%;
        height: fit-content;
        top: 21vw;
        left: 0vw;
        justify-content: center;
        align-items: center;
        font-size: 1.5vw;
        padding-left: 20%;
        padding-right: 20%;
        text-align: center;
        text-transform: none;
        opacity: 50%;

    }

    .por-info>span>a {
        color: var(--mainColor2);
        opacity: 100%;
    }

    .por-info>span>a:hover {
        color: var(--mainColor);
    }






    /*>>>>>>>>>>>>>>>>>>>>>>>> TYPOGRAPHY + LOGODESIGN + ILLUSTRATIONS + SOME PORTRAITS<<<<<<<<<<<<<<<<<*/





    .typography-nav,
    .logodesign-nav,
    .illustrations-nav,
    .printed-nav {
        display: inline-block;
        position: absolute;
        width: 100%;
        height: fit-content;
        top: 14vw;
        left: -0.5vw;
        z-index: 10000;

    }

    .typography-nav>ul,
    .logodesign-nav>ul,
    .illustrations-nav>ul,
    .printed-nav>ul {
        display: flex;
        justify-content: center;
    }

    .typography-nav>ul>li,
    .logodesign-nav>ul>li,
    .illustrations-nav>ul>li,
    .printed-nav>ul>li {

        position: relative;
        display: inline-block;
        font-size: 1.5vw;
        padding-right: 1vw;
        padding-left: 1vw;
        color: var(--black);
        background-image: var(--bg);

        background-blend-mode: screen;
        background-color: var(--mainColor);
        width: fit-content;
        border-radius: 10px;
        text-align: center;
        margin-left: 1vw;
    }

    .typography-nav>ul>.typ-nav>a,
    .logodesign-nav>ul>.log-nav>a,
    .illustrations-nav>ul>.ill-nav>a,
    .printed-nav>ul>.pri-nav>a {
        color: var(--secondColor);
    }

    .typography-nav>ul>li>a:hover,
    .logodesign-nav>ul>li>a:hover,
    .illustrations-nav>ul>li>a:hover,
    .printed-nav>ul>.pri-nav>a:hover {
        color: var(--secondColor);
    }


    .typography-page>.gallery,
    .logodesign-page>.gallery,
    .illustrations-page>.gallery {
        position: absolute;
        top: 20vw;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        width: 95vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
        column-gap: 10px;
        row-gap: 10px;
    }

    .typography-page>.gallery>div>img,
    .logodesign-page>.gallery>div>img,
    .illustrations-page>.gallery>div>img {
        width: 100%;
        margin: 1vw 1vw 1vw 1vw;
        padding: 0;
        object-fit: cover;
        object-position: center;
        overflow-x: hidden;
        border-radius: 5px;
        transition: .9s;
    }

    .typography-page>.gallery>div,
    .logodesign-page>.gallery>div,
    .illustrations-page>.gallery>div {
        transition: 1s;
    }

    .typography-page>.gallery>div:hover,
    .logodesign-page>.gallery>div:hover,
    .illustrations-page>.gallery>div:hover {
        transform: scale(1.3);
        z-index: 100;
    }

}