@font-face {
    font-family: "pangolin";
    src: url(../fonts/pangolin/Pangolin-Regular.woff2) format(woff2);
}

@media only screen and (max-width: 480px) {
    .updating {
        font-family: 'Pangolin', pangolin;
        position: absolute;
        top: 139vw;
        font-size: 8vw;
        color: var(--mainColor2);
        align-items: center;
        align-content: center;
        text-align: center;
        font-weight: bolder;
        left: 22vw;

    }

    .updating-gif {
        width: 95vw;
        position: relative;
        top: 85vw;
    }
}


@media only screen and (min-width: 481px) {
    .updating {
        font-family: 'Pangolin', pangolin;
        position: absolute;
        top: 51vw;
        font-size: 3.5vw;
        color: var(--mainColor2);
        align-items: center;
        align-content: center;
        text-align: center;
        font-weight: bolder;
        left: 37vw;

    }

    .updating-gif {
        width: 50vw;
        position: relative;
        top: 24vw;
        left: 22vw;
    }
}