/*---------------TABLET---------------*/

@media only screen and (min-width: 768px) and (max-width:1100px) {

    .images-parent {
        position: relative;
        top: 0;
        left: 0;
    }

    .frame {
        display: none;
        position: relative;
        top: 0;
        left: 0;
    }


    .logo {
        display: none;
        position: absolute;
        top: 5%;
        left: 5%;
        width: 30%;
        cursor: pointer;
        transition-timing-function: ease;
        transition-duration: 0.5s;


    }

    .logo:hover {
        width: 31%;
    }




    .top-frame {
        position: absolute;
        background-image: url(../Imgs/prpl-bg.jpg);
        background-size: 50%;
        background-color: var(--mainColor);
        width: 100%;
        height: 18vw;
        top: 0vw;
        left: 0vw;
        z-index: -10;


    }


    .page-title {
        position: absolute;
        width: fit-content;
        top: -2vw;
        left: 35vw;
        font-size: 7vw;
        z-index: 20;
        color: var(--black);
        transition-timing-function: ease-in;
    }

    .page-title:hover {
        font-size: 7.5vw;
        left: 33.5vw;
        top: -2.5vw;
    }



    .page-dsc {
        position: absolute;
        width: 60vw;
        top: 10vw;
        left: 33vw;
        font-size: 3vw;
        color: var(--black);
    }

    .header-text {
        position: relative;
        top: .5vw;
        left: -2vw;
    }

    .circle-frame {
        position: absolute;
        top: 5vw;
        left: 14vw;
        display: block;
        width: 22vw;
        height: 22vw;
        background-image: url(../Imgs/prpl-bg.jpg);
        background-size: 50%;
        /*background-image: linear-gradient(-50deg, var(--mainColor), #e698bf);*/
        background-color: var(--mainColor);
        z-index: 10;
        border-radius: 250px;

    }


    .circle {
        position: absolute;
        background-color: var(--secondColor);
        top: 5.8vw;
        left: 15vw;
        display: block;
        width: 20vw;
        height: 20vw;
        z-index: 20;
        border-radius: 250px;
    }

    .header-logo {
        position: absolute;
        width: 16.5vw;
        z-index: 1000;
        top: 10vw;
        left: 16.6vw;
        transition-timing-function: ease;
    }

    .header-logo:hover {
        width: 17.5vw;
        top: 9.5vw;
        left: 16.4vw;
    }

    .circular-logo {
        position: relative;
        top: -5vw;
        left: -7vw;
    }

    .circular-logo:hover {
        color: #000000;
    }


    .instagram,
    .linkedin,
    .behance {
        position: absolute;
        width: 3vw;
        display: inline-block;
        right: 1vw;
        top: 1vw;
    }

    .instagram {
        position: absolute;
        right: 5vw;
        width: 2.2vw;
        top: .8vw;
    }

    .instagram:hover {
        width: 2.8vw;

    }

    .behance {
        position: absolute;
        right: 9vw;
        width: 2.6vw;
    }

    .behance:hover {
        width: 3.3vw;
    }


    .linkedin {
        position: absolute;
        width: 2vw;
        top: .7vw;
    }

    .linkedin:hover {
        width: 2.7vw;
    }



    .flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: absolute;
        top: 20vw;
        font-size: 3vw;
        color: var(--black);
        text-decoration: none;
        list-style: none;
        margin: auto;
        text-align: center;
    }

    ul.flex {
        padding: 2vw;
    }

    li {
        text-decoration: none;
        display: flex;
        width: 20vw;
        flex-wrap: wrap;
        justify-content: center;
        color: var(--black);
        padding: 2vw;
        margin: 2vw;

    }



    li img {
        width: 15vw;
        transition-duration: .5s;
        transition-timing-function: ease;
    }

    li img:hover {
        width: 17vw;
    }

    .about {
        text-transform: none;
        display: flex;
        position: absolute;
        background-image: url(../Imgs/prpl-bg.jpg);
        background-size: 50%;
        background-color: var(--mainColor);
        height: fit-content;
        width: 100%;
        z-index: -10;
        top: 80vw;
        left: 0;
        font-size: 2.5vw;
        color: var(--black);
        padding: 5vw 10vw;

    }








    /*>>>>>>>>>>>>>>>>>>>>>>>>ILLUSTRATIONS<<<<<<<<<<<<<<<<<*/

    .illustrations-nav {
        display: inline-block;
        position: absolute;
        width: 100%;
        height: fit-content;
        top: 14vw;
        left: -.5vw;

        z-index: -10000;

    }

    .illustrations-nav>ul {
        display: flex;
        justify-content: center;
    }

    .illustrations-nav>ul>li {

        position: relative;
        display: inline-block;
        font-size: 1.5vw;
        padding-right: 1vw;
        padding-left: 1vw;
        color: var(--black);
        background-image: url(../Imgs/prpl-bg.jpg);
        background-size: 50%;
        width: fit-content;
        border-radius: 10px;
        text-align: center;
        margin-left: 1vw;
    }

    .illustrations-nav>ul>li>a:hover {
        color: var(--secondColor);
    }

    .gallery {
        margin-top: 2vw;
        position: absolute;
        top: 20vw;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        width: 95vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
        column-gap: 10px;
        row-gap: 10px;
    }

    .illustrans-page>.gallery>div>img {
        width: 100%;
        margin: 1vw 1vw 1vw 1vw;
        padding: 0;
        object-fit: cover;
        object-position: center;
        overflow-x: hidden;
        border-radius: 5px;
        transition: .9s;
    }

    .illustrans-page>.gallery>div {
        transition: 1s;
    }

    .illustrans-page>.gallery>div:hover {
        transform: scale(1.27);
        z-index: 100;
    }
}